canvas {
  border: 3px solid black;
  background-color: white;
}

body {
  background-color: gray;
}

#red {
  color: black;
}

#purple {
  color: yellow;
}

#black {
  color: white;
}

#blue {
  color: orange;
}